<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuanLyBoSua.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBoSua.Properties.Settings.QuanLyBoSuaConnectionString"
            connectionString="Data Source=DESKTOP-PFHMF67;Initial Catalog=QuanLyBoSua;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <QuanLyBoSua.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value />
            </setting>
            <setting name="dm" serializeAs="String">
                <value />
            </setting>
        </QuanLyBoSua.Properties.Settings>
    </userSettings>
</configuration>